/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}


/* Palette color */
:root{
    --white: #FFF;
    --black: #333;
    --grey: #C3C3C3;
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
}


/* Utilities */
.debug .border {border: 2px dotted red ;}
.debug .border .border {border: 2px dashed orange;}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: column wrap;
}

.d-flex{display: flex;}
  
.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-50 {width: 50%;}
.w-70 {width: 70%;}
.w-100 {width: 100%;}

.min-h-150 {min-height: 150px;}
.h-100 {height: 100%;}


.p-20 {padding: 20px;}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.m-15 {margin: 15px;}
.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Generics */
nav a {
    text-decoration: none;
    color: var(--white);
}

main {margin-top: 100px;}

section {margin: 30px 0;}

li {
    list-style-type: none;
    display: inline-block;
}



/* Starting Mobile First */

/* Fixed Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--blue);
    color: var(--white);
}

#navbar .d-flex {
    justify-content: space-between;
    align-items: center;
}

#desktop-menu {display: none;}


/* Main */

/* Get Demo Application Section */
#get-app .row {justify-content: space-between;}

#get-app .row .col:first-child {flex-basis: calc(100% / 3 * 2 + 10px);}

#get-app .col {
    flex-basis: calc(100% / 3);
    margin: 0 -10px;
}

#get-app .card {
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 10px 5px;
}


/* Strategic Planning Section */
#planning {
    background-color: var(--purple);
    color: var(--white);
}

#planning .row .col:last-child div {
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
}


/* Testimonials Section */
#testimonials {text-align: center;}

#testimonials h2 {color: var(--purple);}

#testimonials .col div {
    background-color: var(--purple);
    color: var(--white);
    border-radius: 30px;
}


/* Benefits Section */
#benefits {
    background-color: var(--purple);
    color: var(--white);
}

#benefits .row {justify-content: space-between;}

#benefits .col {
    flex-basis: 100%;
    margin: 0 -10px;
}

#benefits .card {
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    margin: 10px 5px;
}


/* About Us Section */
#about-us h2, #about-us h3 {color: var(--purple);}


/* Footer */

/* Get Started Section */
#get-started {
    background-color: var(--purple);
    color: var(--white);
}

#get-started .row {align-content: center;}
#get-started .row > * {margin: 15px 0;}

#get-started h1 {color: var(--yellow);}


/* More Footer's Information */
#foot-info {
    background-color: var(--black);
    color: var(--white);
}

#foot-info .row {align-content: center;}

#foot-info p:first-child {padding-bottom: 50px;}


/* Responsive Tablet View from 481px to 768px*/
@media screen and (min-width: 481px) {

    /* Get Demo Application Section */
    #get-app .row {flex-direction: row;}

    /* Testimonials Section */
    #testimonials .col {text-align: initial;}

    /* Benefits Section */
    #benefits .row {flex-direction: row;}

    #benefits .col {
        flex-basis: calc(100% / 2);
    }

    /* About Us Section */
    #about-us .row {flex-direction: row;}
    #about-us .col:first-child {flex-basis: 60%;}
    #about-us .col:last-child {flex-basis: 40%;}

    /* Get Started Section */
    #get-started .row {max-width: 50%;}

    /* More Footer's Information */
    #foot-info .row {width: 50%;}
}


/* Responsive Desktop View from 769px to 992px*/
@media screen and (min-width: 769px) {

    /* Utilities */
    .container {width: 70%;}

    /* Generics */
    main {margin-top: 70px;}

    /* Fixed Navbar */
    #navbar {height: 50px;}

    #desktop-menu {display: block;}
    #mobile-menu {display: none;}

    /* Strategic Planning Section */
    #planning .container {width: 60%;}

    #planning .row {flex-direction: row;}
    #planning .col {flex-basis: 50%;}

    #planning .col:last-child {align-self: flex-end;}
    
    /* Benefits Section */
    #benefits .col {flex-basis: calc(100% / 3);}

}


/* Responsive Large Desktop View from 993px */
@media screen and (min-width: 993px) {

    /* Utilities */
    .container {width: 60%;}

    /* Strategic Planning Section */
    #planning .container {width: 50%;}
}