/*********** Reset ***********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}


/*********** Palette color ***********/
:root{
    --white: #FFF;
    --black: #333;
    --grey: #C3C3C3;
    --primary: #9792E4;
    --secondary: #0084FD;
    --light-secondary: #B5DDFF;
    --tertiary: #FDC15F;
}


/*********** Utilities Generics ***********/
.debug .border {border: 2px dotted red ;}
.debug .border .border {border: 2px dashed orange;}

.container{
    max-width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: column wrap;
}

.d-flex{display: flex;}

.w-50 {width: 50%;}
.w-100 {width: 100%;}

.h-100 {height: 100%;}


.p-20 {padding: 20px;}
.p-30 {padding: 30px;}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.t-center {text-align: center;}

/*********** Utilities | color ***********/
.c-white {color: var(--white);}
.c-grey {color: var(--grey);}
.c-black {color: var(--black);}
.c-primary {color: var(--primary);}
.c-secondary {color: var(--secondary);}
.c-tertiary {color: var(--tertiary);}
.bg-black {background-color: var(--black);}
.bg-primary {background-color: var(--primary);}

/*********** Utilities | Button ***********/
.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    text-decoration: none;
}

.btn-l, .btn-xl, .btn-primary, .btn-secondary {
    letter-spacing: 0.2rem;
    font-weight: bold;
}
.btn-l {
    padding: 10px 30px;
    border-radius: 20px;
}
.btn-xl {
    padding: 20px 50px;
    color: var(--primary);
    border-radius: 30px;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}
.btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
}


/*********** Generics ***********/
nav a {
    text-decoration: none;
    color: var(--white);
}

main a {text-decoration: none;}

main {margin-top: 100px;}

main section {margin: 50px 0;}

h1 {font-size: 3.5rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.5rem;}
h4 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

li {
    list-style-type: none;
    display: inline-block;
}

img {display: block;}


/*********** Starting Mobile First ***********/

/*********** Fixed Navbar ***********/
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 80px;
    background-color: var(--secondary);
    color: var(--white);
}

#navbar .d-flex {
    justify-content: space-between;
    align-items: center;
}

#desktop-menu li {padding-left: 1rem;}
#desktop-menu {display: none;}


/*********** Main ***********/

/*********** Get Demo Application Section ***********/
#get-app .row {margin: 0 -10px;}
#get-app .col {padding: 10px;}

/* Single Card (Big Card) */
#get-app .big-card {padding-bottom: 0;}

/* Single Card */
#get-app .card {
    background-color: var(--light-secondary);
    border-radius: 25px;
}

#get-app h2 {font-size: 1.5rem;}

/* Card Content */
#get-app .card-content .btn {width: 85%;}


/*********** Strategic Planning Section ***********/

/* Right Column | White Box Content */
#planning .app-dev-box {
    background-color: var(--white);
    border-radius: 30px;
}

#planning .btn-primary.fa-arrow-down-long {
    padding: 20px 21.5px;
    border-radius: 50%;
    color: var(--black);
}


/*********** Testimonials Section ***********/

/* Testimonials Cards */
#testimonials .col div {border-radius: 50px;}

/* Single Testimonials Card */
#testimonials .card-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

#testimonials .card span {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
}


/*********** Benefits Section ***********/
#benefits .row {margin: 0 -10px;}
#benefits .col {padding: 10px;}

/* Single Benefits Card */
#benefits .card {
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
}

#benefits .card span {
    font-size: 3.2rem;
    font-weight: bold;
}


/*********** About Us Section ***********/

/* Left Column */
#about-us p {line-height: 2.6rem;}
#about-us h2 {font-size: 2.8rem;}

/* Right Column */
#about-us .card-image img {border-radius: 50%;}

#about-us .card-image {
    position: relative;
    height: 180px;
    width: 180px;
}

#about-us .card-image .fa-quote-left {
    position: absolute;
    top: -15px;
    right: -15px;
}

#about-us h3 {font-size: 1.8rem;}
#about-us .btn.btn-primary {
    letter-spacing: normal;
    font-weight: normal;
}


/*********** Footer ***********/ 

/*********** Get Started Section ***********/
/*********** NO CODE REQUIRED ***********/


/*********** More Footer's Information ***********/
/*********** NO CODE REQUIRED ***********/



/*********** LAYOUT RESPONSIVE ***********/
/* ***************************************** */

/* Responsive Tablet View from 769px to 992px*/
@media screen and (min-width: 769px) {

    /*********** Fixed Navbar ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** Get Demo Application Section ***********/
    #get-app .row {flex-direction: row;}

    /* Single Card (Big Card) */
    #get-app .row .col:first-child {max-width: calc(100% / 3 * 2);}
    #get-app .card-image {width: 60%;}
    #get-app .card-content .btn {width: 55%;}

    /* Single Cards */
    #get-app .row .col {max-width: calc(100% / 3);}
    

    /*********** Strategic Planning Section ***********/
    /* Left Column | Title */
    #planning h2 {font-size: 4rem;}


    /*********** Testimonials Section ***********/

    /* Testimonials Cards */
    #testimonials .card {display: flex;justify-content: baseline;}
    
    #testimonials .card-content {
        text-align: initial;
        padding-left: 2rem;
    }


    /*********** Benefits Section ***********/
    #benefits .row {flex-direction: row;}
    #benefits .col {width: calc(100% / 2);}


    /*********** About Us Section ***********/
    #about-us .row {
        flex-direction: row;
        justify-content: space-between;
    }
    #about-us .col:first-child {width: 60%;}
    #about-us .col:last-child {width: 30%;}
    
    /* Left Column */
    #about-us h2 {font-size: 4rem;}


    /*********** Get Started Section ***********/
    #get-started .container {max-width: 60%;}
    #get-started .row {align-items: center;}

    #get-started h1 {font-size: 6rem;}
    #get-started h2 {font-size: 2.5rem;}


    /*********** More Footer's Information ***********/
    #foot-info .container {max-width: 60%;}
}



/* ****************************************** */
/* Responsive Desktop View from 993px to 1200px*/
@media screen and (min-width: 993px) {

    /*********** Utilities ***********/
    .container {max-width: 80%;}


    /*********** Generics ***********/
    main {margin-top: 70px;}


    /*********** Fixed Navbar ***********/
    #navbar {height: 50px;}
    #desktop-menu {display: block;}
    #mobile-menu {display: none;}


    /*********** Get Demo Application Section ***********/

    /* Single Card (Big Card) */
    #get-app .big-card {display: flex;}

    /* Card Content | Left column */
    #get-app .big-card .card-content {width: 50%;}
    #get-app .card-content .btn {width: 80%;}

    /* Card Image | Right column */
    #get-app .big-card .card-image {width: 50%;}


    /*********** Strategic Planning Section ***********/
    #planning .container {width: 60%;}
    #planning .row {
        flex-direction: row;
        justify-content: space-between;
    }
    #planning .col {width: 45%;}

    /* Left Column | Title */
    #planning h2 {font-size: 2.2rem;}

    /* Right Column | White Box Content */
    #planning .col:last-child {align-self: flex-end;}
    #planning .col:last-child img {
        width: 50%;
        margin: 0 auto;
    }

    
    /*********** Testimonials Section ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** Benefits Section ***********/
    #benefits .col {max-width: calc(100% / 3);}


    /*********** About Us Section ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** Get Started Section ***********/
    #get-started .container {max-width: 45%;}


    /*********** More Footer's Information ***********/
    #foot-info .container {max-width: 45%;}

}


/* **************************************** */
/* Responsive Large Desktop View from 1201px */
@media screen and (min-width: 1201px) {

    /*********** Utilities ***********/
    .container {max-width: 1150px;}


    /*********** Get Demo Application Section ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** Strategic Planning Section ***********/
    #planning .container {width: 50%;}


    /*********** Testimonials Section ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** Benefits Section ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** About Us Section ***********/
    /*********** NO CODE REQUIRED ***********/


    /*********** Get Started Section ***********/
    #get-started .container {max-width: 30%;}


    /*********** More Footer's Information ***********/
    #foot-info .container {max-width: 30%;}
}