/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}


/* Palette color */
:root{
    --white: #FFF;
    --black: #333;
    --grey: #C3C3C3;
    --primary: #9792E4;
    --secondary: #0084FD;
    --light-secondary: #B5DDFF;
    --yellow: #FDC15F;
}


/* Utilities */
.debug .border {border: 2px dotted red ;}
.debug .border .border {border: 2px dashed orange;}

.container{
    max-width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: column wrap;
}

.d-flex{display: flex;}

.w-100 {width: 100%;}

.min-h-150 {min-height: 150px;}
.h-100 {height: 100%;}


.p-20 {padding: 20px;}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.t-center {text-align: center;}

/* Utilities | color */
.c-primary {color: var(--primary);}
.c-secondary {color: var(--secondary);}
.bg-primary {background-color: var(--primary);}

/* Utilities | Button */
.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}
.btn-l {
    padding: 10px 30px;
    border-radius: 20px;
}
.btn-xl {
    padding: 20px 50px;
    color: var(--primary);
    border-radius: 30px;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}
.btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
}


/* Generics */
nav a {
    text-decoration: none;
    color: var(--white);
}

main {margin-top: 100px;}

main a {text-decoration: none;}

section {margin: 30px 0;}

li {
    list-style-type: none;
    display: inline-block;
}

img {display: block;}


/* Starting Mobile First */

/* Fixed Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--secondary);
    color: var(--white);
}

#navbar .d-flex {
    justify-content: space-between;
    align-items: center;
}

#desktop-menu li {padding-left: 10px;}
#desktop-menu {display: none;}


/* Main */

/* Get Demo Application Section */
#get-app .row {margin: 0 -10px;}

/* Single Card (Big Card) */


#get-app .big-card {padding-bottom: 0;}

/* Single Card */
#get-app .col {
    max-width: 100%;
    padding: 10px;
}

#get-app .card {
    background-color: var(--light-secondary);
    border-radius: 20px;
}

/* Card Content */
#get-app .card-image {
    width: 100%;
    padding-top: 30px;
}

#get-app .card-content .btn {width: 85%;}


/* Strategic Planning Section */
#planning {color: var(--white);}

/* Right Column | White Box Content */
#planning .row .col:last-child div {
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
}


/* Testimonials Section */
#testimonials {text-align: center;}

#testimonials h2 {color: var(--primary);}

/* Testimonials Card */
#testimonials .col div {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 30px;
}


/* Benefits Section */
#benefits {
    background-color: var(--primary);
    color: var(--white);
}

#benefits .row {margin: 0 -10px;}

#benefits h2.w-100 {text-align: center;}

/* Single Benefits Card */
#benefits .col {
    max-width: 100%;
    padding: 10px;
}

#benefits .card {
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
}


/* About Us Section */
#about-us h2, #about-us h3 {color: var(--primary);}


/* Footer */
footer section {margin: 0;} 

/* Get Started Section */
#get-started {
    background-color: var(--primary);
    color: var(--white);
}

#get-started .row {align-items: center;}
#get-started .row > * {margin: 15px 0;}

#get-started h1 {color: var(--yellow);}


/* More Footer's Information */
#foot-info {
    background-color: var(--black);
    color: var(--white);
}

#foot-info .row {align-items: center;}

#foot-info p:first-child {padding-bottom: 50px;}


/* Responsive Tablet View from 481px to 768px*/
@media screen and (min-width: 481px) {

    /*
        Fixed Navbar
        NO CODE REQUIRED
    */

    /* Get Demo Application Section */
    #get-app .row {flex-direction: row;}

    #get-app .row .col:first-child {max-width: calc(100% / 3 * 2);}
    #get-app .row .col {max-width: calc(100% / 3);}

    #get-app .card-image {
        width: 60%;
        /* padding-top: 30px; */
    }
    
    #get-app .card-content .btn {width: 55%;}

    /* 
        Strategic Planning Section
        NO CODE REQUIRED
    */

    /* Testimonials Section */
    #testimonials .col {text-align: initial;}

    /* Benefits Section */
    #benefits .row {flex-direction: row;}

    #benefits .col {
        max-width: calc(100% / 2);
    }

    /* About Us Section */
    #about-us .row {flex-direction: row;}
    #about-us .col:first-child {max-width: 60%;}
    #about-us .col:last-child {max-width: 40%;}

    /* Get Started Section */
    #get-started .container {max-width: 35%;}

    /* More Footer's Information */
    #foot-info .container {max-width: 35%;}
}


/* Responsive Desktop View from 769px to 992px*/
@media screen and (min-width: 769px) {

    /* Utilities */
    .container {max-width: 80%;}

    /* Generics */
    main {margin-top: 70px;}

    /* Fixed Navbar */
    #navbar {height: 50px;}

    #desktop-menu {display: block;}
    #mobile-menu {display: none;}

    /* Get Demo Application Section */
    #get-app .big-card {display: flex;}

    #get-app .big-card .card-content {width: 55%;}

    #get-app .card-image {
        width: 45%;
        align-self: flex-end;
    }
    
    #get-app .card-content .btn {width: 85%;}


    /* Strategic Planning Section */
    #planning .container {width: 60%;}

    #planning .row {flex-direction: row;}
    #planning .col {max-width: 50%;}

    #planning .col:last-child {align-self: flex-end;}
    
    /* 
        Testimonials Section
        NO CODE REQUIRED
    */

    /* Benefits Section */
    #benefits .col {max-width: calc(100% / 3);}

    /* 
        About Us Section
        NO CODE REQUIRED
    */

    /* 
        Footer
        NO CODE REQUIRED
    */

}


/* Responsive Large Desktop View from 993px */
@media screen and (min-width: 993px) {

    /* Utilities */
    .container {max-width: 75%;}

    /* Strategic Planning Section */
    #planning .container {width: 50%;}
}